<head>
  <meta charset="{{ site.encoding }}">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% if page.description %}
    {% assign meta_description = page.description %}
  {% elsif site.description %}
    {% assign meta_description = site.description %}
  {% endif %}

  {% if meta_description %}
    <meta name="Description" content="{{ meta_description }}">
  {% endif %}

  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | absolute_url }}">

  {% if site.ga_tracking != nil %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.ga_tracking }}', '{{ site.url }}');
      ga('send', 'pageview');
    </script>

    <script async src="https://www.google-analytics.com/analytics.js"></script>
  {% endif %}

  {% include google_tag_manager.html %}

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="jquery.js">\x3C/script>')</script>

  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/collapsible.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/script.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/tabs.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/imagesmapping.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
