// Utilitites

$link-color: #0077ed;
$highlight-color: #ef4536;

$text-inverted: #f4f5f7;
$highlight-inverted: #4b5858;

$title-color: #0e2029;
$title1-color: $title-color;
$title2-color: $title-color;
$title3-color: $title-color;
$title4-color: #854d00;
$title5-color: $title-color;
$title6-color: $title-color;


// Vendor

@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i');


// Base

::selection {
  color: #fff;
  background: $highlight-color;
}

html,
body {
  font: normal normal 16px/1.5 Nunito, sans-serif;
}

a {
  &,
  &:link,
  &:link:visited,
  &:visited:active {
    color: $link-color;
  }
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  line-height: 1.16;
}

h1 {
  color: $title1-color;
  font-size: 3.125rem;
  font-weight: 600;
}

h2 {
  color: $title2-color;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.05;
}

h3 {
  color: $title3-color;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.03125rem;
}

h4 {
  color: $title4-color;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
    color: $title5-color;
    letter-spacing: 0.125rem;;
    font-size: 1.142857143rem;
    line-height: 1.857142857;
    font-weight: 700;
    letter-spacing: .1875rem;
    text-transform: uppercase;
}

h6 {
    color: $title6-color;
    letter-spacing: 0.03125rem;
    font-size: 0.875rem;
    line-height: 1.5625;
    font-weight: 400;
    text-transform: uppercase;
}

mark {
  margin-left: -0.25em;
  margin-right: -0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}


// Components

.navigation-list {
  .navigation-list-item {

    a.navigation-list-link {
      &,
      &:link,
      &:link:visited,
      &:visited:active {
        color: $text-inverted;
        font-style: normal;
        font-weight: 300;
        font-size: 0.875rem;
        margin: 0;
        padding: 0.5rem 0.667rem;

        transition: background-color 300ms;

        &:hover,
        &.active,
        &.active:hover {
          background-color: $highlight-inverted;
        }

        &:empty {
          padding: 0;
        }
      }
    }

    .navigation-list-child-list {
      padding: 0;

      .navigation-list-item {
        &::before {
          position: absolute;
          margin-top: 0.3em;
          margin-left: -0.8em;
          color: #959396;
          content: "";
        }

        a.navigation-list-link {
          &,
          &:link,
          &:link:visited,
          &:visited:active {
            padding-left: 2em;
            font-weight: 200;
            font-size: .9em;
            color: #bbb;
          }
        }
      }

      .navigation-list-child-list {
        .navigation-list-item {
          a.navigation-list-link {
            &,
            &:link,
            &:link:visited,
            &:visited:active {
              padding-left: 4em;
            }
          }
        }
      }
    }
  }
}

.table-of-contents-layout {
  background: rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  ul.table-of-contents-list {
    padding: 0;
    margin: 0;

    > li {
      @extend h4;

      padding: 0;
      margin: 0.5rem 0;


      &::before {
        content: none;
      }
    }
  }
}


// Layout

.side-bar {
  background-color: #192730;
}

.site-title {
  background-color: transparent;
  background-image: url('/assets/images/engine_logo_inverted.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  color: #fff;
  overflow: hidden;
  text-align: left;
  text-indent: 9000rem;
  white-space: nowrap;
}


// Pages


// Themes
@media (min-width: 46.25rem) {
  .site-footer {
    background-color: transparent;
  }
}
