$link-color: #0077ed;
$highlight-color: #ef4536;

$text-inverted: #f4f5f7;
$highlight-inverted: #4b5858;

$title-color: #0e2029;
$title1-color: $title-color;
$title2-color: $title-color;
$title3-color: $title-color;
$title4-color: #854d00;
$title5-color: $title-color;
$title6-color: $title-color;

$border-extra-light: #eeebee;
