$link-color: #0077ed;
$highlight-color: #ef4536;

$text-inverted: #f4f5f7;
$text-light: #4f6267;
$text-inverted-light: #bbb;
$highlight-inverted: #4b5858;

$title-color: #526b7a;
$header-color: #0e2029;
$header1-color: $header-color;
$header2-color: $header-color;
$header3-color: $header-color;
$header4-color: #854d00;
$header5-color: $header-color;
$header6-color: $header-color;

$border-extra-light: rgba(0, 0, 0, .0625);
$background-dark: #192730;
