.side-bar {
  background-color: $background-dark;
}

.site-title {
  background-color: transparent;
  background-image: url('/assets/images/engine_logo_inverted.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  color: $text-inverted;
  overflow: hidden;
  text-align: left;
  text-indent: 9000rem;
  white-space: nowrap;
}
