.page-header-layout {
  border-bottom: 1px solid $border-extra-light;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  .page-header {
    margin-bottom: 1rem;
  }

  .page-header-subhead {
    color: $text-light;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    margin: 1rem 0;
  }
}
