.page-header-layout {
  border-bottom: 1px solid $border-extra-light;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  .page-header {
    @extend %page-title;

    margin-bottom: 1rem;
  }

  .page-header-subhead {
    @extend %page-subhead;

    margin: 1rem 0;
  }
}
