.table-of-contents-layout {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  ul.table-of-contents-list {
    padding: 0;
    margin: 0;

    >li {
      @extend h4;

      padding: 0;
      margin: 0.5rem 0;


      &::before {
        content: none;
      }
    }
  }
}
