.table-of-contents-layout {
  background: $border-extra-light;
  border-radius: 1rem;
  padding: .5rem 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  .table-of-contents-list {
    margin: 0;
    padding: 0;

    >li {
      @extend %header-4;

      margin: .5rem 0;
      padding: 0;
    }

    >li::before {
      content: none;
    }
  }
}
