::selection {
  background: $highlight-color;
  color: $text-inverted;
}

html,
body {
  font: normal normal 16px/1.5 Nunito, sans-serif;
}

a {
  &,
  &:link,
  &:link:visited,
  &:visited:active {
    color: $link-color;
  }
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  line-height: 1.16;
}

h1 {
  @extend %header-1;
}

h2 {
  @extend %header-2;
}

h3 {
  @extend %header-3;
}

h4 {
  @extend %header-4;
}

h5 {
  @extend %header-5;
}

h6 {
  @extend %header-6;
}

mark {
  margin-left: -.25em;
  margin-right: -.25em;
  padding-left: .25em;
  padding-right: .25em;
}
